@if (state$ | async; as vm) {
  @if (vm.loading === true) {
    <div class="flex h-96 items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
  } @else if (vm.loading === false) {
    <div class="flex flex-col items-stretch p-8">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Edit client</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-client-form
            [client]="vm.client"
            (submitClient)="updateClient($event)" />
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="'/client/' + vm.client.id">
            BACK
          </button>
          <span class="flex-auto"></span>
          <button mat-button color="accent" type="submit" form="client-form">SAVE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  }
}
